<div ng-controller="FormsValidator.FieldPicker as vm">
    <umb-editor-view>
        <umb-editor-header
                name="model.title"
                name-locked="true"
                hide-alias="true"
                hide-icon="true"
                hide-description="true">
        </umb-editor-header>

        <umb-editor-container>
            <umb-box>
                <umb-box-content>
                    <ul class="umb-actions umb-actions-child">
                        <li class="umb-action"
                            ng-repeat="field in vm.fields">
                            <button
                                    type="button"
                                    title="{{ field.caption }}"
                                    class="umb-action-link umb-outline btn-reset"
                                    ng-click="vm.selectField(field)">
                                <umb-icon class="large"
                                          icon="{{ field.$fieldType.icon }}">
                                </umb-icon>
                                <span class="menu-label">
                                    {{ field.alias }}
                                    <small>
                                        {{ field.caption }}
                                    </small>
                                </span>
                            </button>
                        </li>
                    </ul>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button
                        action="vm.close()"
                        type="button"
                        button-style="link"
                        label="Close">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>