<div ng-controller="FormsValidator.SettingEditor as vm">
    <umb-editor-view>
        <umb-editor-header
                name="model.title"
                name-locked="true"
                hide-alias="true"
                hide-icon="true"
                hide-description="true">
        </umb-editor-header>

        <umb-editor-container>
            <umb-box>
                <umb-box-content>
                    <umb-control-group
                            label="Rule"
                            description="The rule to apply"
                            required>
                        <umb-button
                                ng-if="!vm.selectedRule"
                                action="vm.openRulePicker()"
                                type="button"
                                button-style="[placeholder,block]"
                                label="Select rule">
                        </umb-button>

                        <umb-node-preview
                                ng-if="vm.selectedRule"
                                allow-edit="true"
                                allow-remove="true"
                                on-edit="vm.openRulePicker()"
                                on-remove="vm.removeSelectedRule()"
                                name="vm.selectedRule.name"
                                description="vm.selectedRule.description"
                                single>
                        </umb-node-preview>
                    </umb-control-group>

                    <umb-control-group
                            label="Form field"
                            description="The field to apply validation rule to"
                            required>
                        <umb-node-preview
                                ng-if="vm.selectedField"
                                allow-remove="true"
                                on-remove="vm.removeField()"
                                name="vm.selectedField.alias"
                                description="vm.selectedField.caption"
                                single>
                        </umb-node-preview>

                        <div style="position: relative;">
                            <umb-button
                                    ng-if="!vm.selectedField"
                                    action="vm.openFieldSelector()"
                                    type="button"
                                    button-style="[placeholder,block]"
                                    label="Select field">
                            </umb-button>

                            <umb-dropdown ng-if="vm.fieldSelectorOpen"
                                          on-close="vm.openFieldSelector()"
                                          umb-keyboard-list>
                                <umb-dropdown-item
                                        ng-repeat="field in vm.fields">
                                    <button class="btn-reset" 
                                            ng-click="vm.selectField(field)">
                                        {{ field.alias }}
                                    </button>
                                </umb-dropdown-item>
                            </umb-dropdown>
                        </div>
                    </umb-control-group>

                    <umb-control-group
                            label="Message"
                            description="Custom validation error message">
                        <input type="text" class="-full-width-input"/>
                    </umb-control-group>

                    <umb-control-group
                            label="Stop processing"
                            description="Toggle if you want to stop processing validation rules on failure">
                        <umb-toggle
                                checked="vm.stopProcessing"
                                on-click="vm.toggleStopProcessing()"></umb-toggle>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button
                        action="vm.close()"
                        type="button"
                        button-style="link"
                        label="Close">
                </umb-button>

                <umb-button
                        action="vm.submit()"
                        type="button"
                        button-style="success"
                        label="Submit">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</div>
