<div ng-controller="FormsValidator.SettingsContentApp as vm">
    <umb-editor-sub-header>
        <umb-editor-sub-header-content-right>
            <umb-button
                    ng-if="vm.settingSelected"
                    action="vm.deleteSettings()"
                    type="button"
                    label="Delete"
                    icon="icon-trash"
                    button-style="danger">
            </umb-button>

            <umb-button
                    action="vm.newSetting()"
                    type="button"
                    label="New"
                    icon="icon-add"
                    button-style="outline">
            </umb-button>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>

    <umb-content-grid
            content="vm.settings"
            content-properties="vm.settingsProperties"
            on-click="vm.selectSetting"
            on-click-name="vm.editSetting">
    </umb-content-grid>
</div>
